body{    overflow: hidden;  }

:-webkit-full-screen #filePhoto {
  width: 100%;
  height: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#filePhoto{
    position:absolute;
    width:300px;
    height:267px;
    top: 83px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.button {
  font-weight: bold;

    background-color: white; /* Green */
    height: 19px;
    border: none;
    border-bottom: 1px solid red;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
  font-weight: bold;

    background-color: red; /* Green */
    height: 19px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.uploader  {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 200px;
  height: 33%;
  font-family: sans-serif;
  margin:  auto;
  padding: 20px;
}


#canvasPHO { background-color: white; }

.colorpic{display: inline-block;
    margin-left:1px;
    position:relative; float: right;}


/*   checkbox checkbox checkbox checkbox checkbox      checkbox   */

.radiochoose {
  background-color: red;

}

:-webkit-full-screen #canvasPHO {
  width: 100%;
  height: 90%;
}

.radiochoose :active {
    width: 70px;
    height: 74px;
    background-color: red;
}

.container {
  margin-left: 5px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 30px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}
